@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Major+Mono+Display&family=Marmelad&family=Open+Sans&family=Roboto&family=Rubik&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto&family=Ubuntu:ital,wght@0,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    display: flex;
    height: 100%;
}

/* All stuff on the left side of the screen */

#leftSideNav {
    display: flex;

    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */

    top: 0; /* Stay at the top */
    padding-left: 3%;
    padding-right: 1%;

    align-items: stretch;
    flex-direction: column;

    justify-content: space-around;
}

.shadowBox {
    backdrop-filter: blur(10px);
    border: black solid 2px;
    box-shadow: 5px 5px 15px 5px black;
    border-radius: 1%;
    flex-grow: 1;

}

.shadowBox h1, h2 {
    position: relative;
    justify-content: center;

    top: 18%;
}

/* Big Matt Marsico Letters */
#nameBox {
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 10%;

}

/* Big H1 tag with page title */
#pageTitle {

    padding: 20% 2% 20% 2%;


    margin-bottom: 10%;
}

/* All redirects to other pages */
#linkBox {
    margin-bottom: 10% !important;
}

 h1 {
    color: black;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: italic;
    font-size: 7vh;
    text-align: center;
    text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;
}




.linkText {
    margin: .5rem;
    font-family: 'Roboto';
    font-size: 5vh;
    text-shadow: 1px 1px white, -1px 1px white, 1px -1px white, -1px -1px white;

    transition: .4s;
}

.linkText:hover {
    /* Change this so it looks cooler on the hover */
    color: white;
}

#linkBox {
    text-align: center;
    padding: 0;
    margin: 0;
}

/**************************************************************************/
/************ Everything for Right Box Side  ******************************/
/**************************************************************************/

#rightBox {
    padding: 2%;
    padding-top: 3%;
    overflow-y: scroll;
    width: 70%;
}

.contentBox h2 {
    font-family: 'Ubuntu'; 
    
    padding-bottom: 1%;
}

.contentBox p {
    margin-bottom: 1%;
    line-height: 130%;
    font-family: 'Lato';
    font-size: 110%;
}

.contentBox {
    padding: 2%;
    border: black solid 2px;
    box-shadow: 5px 5px 15px 5px black;
    border-radius: 1%;
    backdrop-filter: blur(50px) brightness(120%);

    margin-bottom: 5%;
}

.contentBox li {
    list-style-type: none;
    margin-left: 3%;
}

.contentBox a {
    color: inherit;
}

.contentBox h3 {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 1.5vh;
}

.showText {
    text-decoration: underline;
    color: blue;
}

.showMoreButton {
    transition: .2s;

    padding: 1% 0 1% 2%;
}

.showMoreButton:hover {
    color: white;
}

.moreContent {
    display: none;    
}